**/.git/**
**/.vscode/**
**/.vscode-test/**
**/node_modules/**
**/src/**
**/*.map
**/*.ts
**/*.tsbuildinfo
**/tsconfig*.json
**/eslint*
**/.eslintrc*
**/.prettierrc*
**/prettier*
**/*.log
**/test/**
**/__tests__/**
**/*.spec.*
**/*.test.*
**/coverage/**
.vscodeignore